/* SplashScreen Control */

.splash-appversion-font {
	font-size: 0.768rem;
	font-family: Arial;
}

.splash-waiting-text {
	margin: 0 auto;
	padding: 0 0 8px 8px;
	font-family: Arial;
}

.splash-waiting-spinner {
	display: block;
	margin: 0 auto;
}

.splash-version-text {
	white-space: pre; 
	text-align: center; 
	vertical-align: middle;
}

.splash-year-text {
	font-size: 2.5vmin;
	color: white;
	font-weight: bold;
}

.image-div {
	width:auto;
	height:auto;
}
/* Samsung S7 360 * 640 */
@media (width: 360px) and (orientation: portrait) {
	.splash-image		{ position: relative;  top: 0%;   left: 0%;   height: 640px;  width: 350px; }
	.splash-waiting 	{ position: fixed;  top: 85%;  left: 50%;  transform: translate(-50%, -50%); }
	.splash-appversion	{ position: fixed;  top: 95%;  left: 50%;  transform: translate(-50%, -50%); }
	.splash-year-text	{ position: relative;  bottom: 18vmin;  left: 60vmin; }
	.spinner			{ position: fixed;  top: -12%;  left: 15%;  transform: translate(-50%, -50%); }
	.alliander-bus { position: fixed; 	left: -150px; top: 420px; transform: translate(-50%, -50%);}
}

/* TAB S3 PORTRAIT 768 * 1024 */
@media (width: 48em) and (orientation: portrait) {
	.splash-image		{ position: relative;  top: 0%;   left: 0%;   height: auto;  width: 100%; }
	.splash-waiting 	{ position: fixed;  top: 85%;  left: 50%;  transform: translate(-50%, -50%); }
	.splash-appversion	{ position: fixed;  top: 95%;  left: 50%;  transform: translate(-50%, -50%); }
	.splash-year-text	{ position: relative;  bottom: 18vmin;  left: 60vmin; }
	.spinner			{ position: fixed;  top: 81%;  left: -2%;  transform: translate(-50%, -50%); }
	.alliander-bus { position: fixed; 	left: -150px; top: 750px; transform: translate(-50%, -50%);}
}

/* TAB S3 PORTRAIT  1024 * 768 */
@media (width: 64em) and (orientation: landscape) {
	.splash-image		{ position: fixed;  top: 0%;   left: 0%;   height: 100%;  width: auto; }
	.splash-waiting 	{ position: fixed;  top: 50%;  left: 71%;  transform: translate(-50%, -50%); }
	.splash-appversion	{ position: fixed;  top: 65%;  left: 71%;  transform: translate(-50%, -50%); }
	.splash-year-text	{ position: fixed;  top: 87%;  left: 35vmin; }
	.spinner			{ position: fixed;  top: 40%;  left: 60%;  transform: translate(-50%, -50%); }
	.alliander-bus { position: fixed; 	left: -150px; top: 500px; transform: translate(-50%, -50%); }
}

/* TAB S4 PORTRAIT 712 * 1138 */
@media (width: 44.5em) and (orientation: portrait) {
	.splash-image		{ position: relative;  top: 0%;   left: 0%;   height: auto;  width: 100%; }
	.splash-waiting 	{ position: fixed;  top: 85%;  left: 50%;  transform: translate(-50%, -50%); }
	.splash-appversion	{ position: fixed;  top: 95%;  left: 50%;  transform: translate(-50%, -50%); }
	.splash-year-text	{ position: relative;  bottom: 18vmin;  left: 60vmin; }
	.spinner			{ position: fixed;  top: 83%;  left: -2%;  transform: translate(-50%, -50%); }
	.alliander-bus { position: fixed; 	left: -150px; top: 690px; transform: translate(-50%, -50%); }
}

/* TAB S4 LANDSCAPE 1138 * 712 */
@media (min-width: 70em) and (max-width: 72em) and (orientation: landscape) {
	.splash-image		{ position: fixed;  top: 0%;   left: 0%;   height: 100%;  width: auto; }
	.splash-waiting 	{ position: fixed;  top: 50%;  left: 71%;  transform: translate(-50%, -50%); }
	.splash-appversion	{ position: fixed;  top: 65%;  left: 71%;  transform: translate(-50%, -50%); }
	.splash-year-text	{ position: fixed;  top: 87%;  left: 35vmin; }
	.spinner			{ position: fixed;  top: 30%;  left: 60%;  transform: translate(-50%, -50%); }
	.alliander-bus { position: fixed; 	left: -150px; top: 430px; transform: translate(-50%, -50%); }
}
/* End SplashScreen Control */

/* TEST SPINNER */
.alliander-bus{
	width: 127px;
	height: 64px;
	margin: 80px;
	background-image: url("../../../alliander/utils/img/liander_bus.svg");
}
/*  */

/* TEST SPINNER */
.spinner {
		width: 80px;
		height: 80px;
		margin: 80px;
		animation: spinner-rotate 1.4s infinite ease-in-out, spinner-background 1.4s infinite ease-in-out alternate;
  }
  
  @keyframes spinner-rotate {
		0% {
			transform: perspective(120px) rotateX(0deg) rotateY(0deg);
		}
		50% {
			transform: perspective(120px) rotateX(-180deg) rotateY(0deg);
		}
		100% {
			transform: perspective(120px) rotateX(-180deg) rotateY(-180deg);
		}
  }
  @keyframes spinner-background {
		0% {
			background-color: #27ae60;
		}
		50% {
			background-color: #9b59b6;
		}
		100% {
			background-color: #c0392b;
		}
  }
/*  */